<a href="https://colab.research.google.com/github/positivezenart/Python-codes/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [3]:
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [5]:
!pip install -q findspark
import findspark
findspark.init()

In [6]:
from pyspark import SparkContext
sc =SparkContext()

Installing libraries

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr,concat,col
from pyspark.sql import Row
from pyspark.sql.functions import concat, col, lit
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import col,struct,when
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,BooleanType,FloatType

Applications running on PySpark are 100x faster than

traditional systems.
You will get great benefits using PySpark for data ingestion pipelines.
Using PySpark we can process data from Hadoop HDFS, AWS S3, and many file systems.
PySpark also is used to process real-time data using Streaming and Kafka.

**Spark Session:**
SparkSession was introduced in version 2.0, It is an entry point to underlying PySpark functionality in order to programmatically create PySpark RDD, DataFrame.
https://sparkbyexamples.com/pyspark/pyspark-what-is-sparksession/

In [8]:
spark = (SparkSession.builder
                      .appName('SparkByExamples.com') 
                      .getOrCreate())
print(spark) #create a new session

<pyspark.sql.session.SparkSession object at 0x7fbe21634250>

In [ ]:
spark2 = (SparkSession.newSession)
print(spark2) #creating new session

<function SparkSession.newSession at 0x7fd4928e1310>

In [ ]:
spark3 = (SparkSession.builder.getOrCreate())
print(spark3) #accessing the existing session

<pyspark.sql.session.SparkSession object at 0x7fd496440910>

pyspark Dataframe

Create an empty RDD

In [ ]:
empty_rdd = spark.sparkContext.emptyRDD()
print(empty_rdd)

EmptyRDD[0] at emptyRDD at NativeMethodAccessorImpl.java:0

In [ ]:
#create a schema
schema = StructType([
  StructField('firstname', StringType(), True),
  StructField('middlename', StringType(), True),
  StructField('lastname', StringType(), True)
  ])

In [ ]:
df = spark.createDataFrame(empty_rdd,schema)
df.show()

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
+---------+----------+--------+

In [ ]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

Easy way to create a empty dataframe

In [ ]:
df1 = spark.createDataFrame([],schema)
df1.show()

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
+---------+----------+--------+

Convert spark df to pandas

In [ ]:
#data
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]
#columns
columns = ["first_name","middle_name","last_name","dob","gender","salary"]
df3 = spark3.createDataFrame(data = data,schema= columns)

In [ ]:
df3.printSchema()
df3.show()

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|  dob|gender|salary|
+----------+-----------+---------+-----+------+------+
|     James|           |    Smith|36636|     M| 60000|
|   Michael|       Rose|         |40288|     M| 70000|
|    Robert|           | Williams|42114|      |400000|
|     Maria|       Anne|    Jones|39192|     F|500000|
|       Jen|       Mary|    Brown|     |     F|     0|
+----------+-----------+---------+-----+------+------+

In [ ]:
df3.show(2,vertical=True)

-RECORD 0--------------
 first_name  | James
 middle_name |
 last_name   | Smith
 dob         | 36636
 gender      | M
 salary      | 60000
-RECORD 1--------------
 first_name  | Michael
 middle_name | Rose
 last_name   |
 dob         | 40288
 gender      | M
 salary      | 70000
only showing top 2 rows

In [ ]:
df4 = df3.toPandas()
print(df4)

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

**PySpark StructType & StructField** classes are used to programmatically specify the schema to the DataFrame and create complex columns like nested struct, array, and map columns. StructType is a collection of StructFieldâ€™s that defines column name, column data type, boolean to specify if the field can be nullable or not and metadata.

In [ ]:
#create a new spark session
spark_struct = SparkSession.builder.appName("Struct_type").getOrCreate()
#columns data
structureData = [
    (("James","","Smith"),36636,"M",3100),
    (("Michael","Rose",""),40288,"M",4300),
    (("Robert","","Williams"),42114,"M",1400),
    (("Maria","Anne","Jones"),39192,"F",5500),
    (("Jen","Mary","Brown"),0,"F",-1)
  ]
#schema file
schema = StructType([ 
    StructField("name",StructType([
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True)])), \
    StructField("id", IntegerType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
#create Data frame
df_struct = spark_struct.createDataFrame(structureData,schema)
df_struct.show()
df_struct.printSchema()

+--------------------+-----+------+------+
|                name|   id|gender|salary|
+--------------------+-----+------+------+
|    [James, , Smith]|36636|     M|  3100|
|   [Michael, Rose, ]|40288|     M|  4300|
|[Robert, , Williams]|42114|     M|  1400|
|[Maria, Anne, Jones]|39192|     F|  5500|
|  [Jen, Mary, Brown]|    0|     F|    -1|
+--------------------+-----+------+------+

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
updatedDF = df_struct.withColumn("Other_info",
                      struct(col("id").alias("identifier"),
                             col("gender").alias("gender"),
                             col("salary").alias("salary"),
                             when(col("salary").cast(IntegerType()) <2000,"Low")
                             .when(col("salary").cast(IntegerType())<4000,"medium")
                             .otherwise(col("salary").alias("Salary_grade"))))

In [ ]:
updatedDF.show(truncate=False)

+--------------------+-----+------+------+------------------------+
|name                |id   |gender|salary|Other_info              |
+--------------------+-----+------+------+------------------------+
|[James, , Smith]    |36636|M     |3100  |[36636, M, 3100, medium]|
|[Michael, Rose, ]   |40288|M     |4300  |[40288, M, 4300, 4300]  |
|[Robert, , Williams]|42114|M     |1400  |[42114, M, 1400, Low]   |
|[Maria, Anne, Jones]|39192|F     |5500  |[39192, F, 5500, 5500]  |
|[Jen, Mary, Brown]  |0    |F     |-1    |[0, F, -1, Low]         |
+--------------------+-----+------+------+------------------------+

In [ ]:
df_struct.columns

['name', 'id', 'gender', 'salary']

In [ ]:
df_struct.select(col('id').alias("no_id"),col('salary')).show()

+-----+------+
|no_id|salary|
+-----+------+
|36636|  3100|
|40288|  4300|
|42114|  1400|
|39192|  5500|
|    0|    -1|
+-----+------+

In [ ]:
updatedDF.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Other_info: struct (nullable = false)
 |    |-- identifier: integer (nullable = true)
 |    |-- gender: string (nullable = true)
 |    |-- salary: integer (nullable = true)
 |    |-- col4: string (nullable = true)

In [ ]:
#alias.sorting
df_struct.select(df_struct.gender.alias("sex"),df_struct.salary.alias("Money"),df_struct.name) \
         .sort(df_struct.salary.desc()) \
         .filter(df_struct.salary.between(-1,5000)) \
         .filter(df_struct.name["firstname"].startswith("J")).show()

+---+-----+------------------+
|sex|Money|              name|
+---+-----+------------------+
|  M| 3100|  [James, , Smith]|
|  F|   -1|[Jen, Mary, Brown]|
+---+-----+------------------+

Pyspark with pandas and Sql

In [9]:
fire_schema = StructType([StructField('CallNumber', IntegerType(), True),
StructField('UnitID', StringType(), True),
StructField('IncidentNumber', IntegerType(), True),
StructField('CallType', StringType(), True),
StructField('CallDate', StringType(), True),
StructField('WatchDate', StringType(), True),
StructField('CallFinalDisposition', StringType(), True),
StructField('AvailableDtTm', StringType(), True),
StructField('Address', StringType(), True),
StructField('City', StringType(), True),
StructField('Zipcode', IntegerType(), True),
StructField('Battalion', StringType(), True),
StructField('StationArea', StringType(), True),
StructField('Box', StringType(), True),
StructField('OriginalPriority', StringType(), True),
StructField('Priority', StringType(), True),
StructField('FinalPriority', IntegerType(), True),
StructField('ALSUnit', BooleanType(), True),
StructField('CallTypeGroup', StringType(), True),
StructField('NumAlarms', IntegerType(), True),
StructField('UnitType', StringType(), True),
StructField('UnitSequenceInCallDispatch', IntegerType(), True),
StructField('FirePreventionDistrict', StringType(), True),
StructField('SupervisorDistrict', StringType(), True),
StructField('Neighborhood', StringType(), True),
StructField('Location', StringType(), True),
StructField('RowID', StringType(), True),
StructField('Delay', FloatType(), True)])

In [10]:
sf_fire_file = "/content/drive/My Drive/fireincident.csv"

In [11]:
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

In [12]:
fire_df.columns

['CallNumber',
 'UnitID',
 'IncidentNumber',
 'CallType',
 'CallDate',
 'WatchDate',
 'CallFinalDisposition',
 'AvailableDtTm',
 'Address',
 'City',
 'Zipcode',
 'Battalion',
 'StationArea',
 'Box',
 'OriginalPriority',
 'Priority',
 'FinalPriority',
 'ALSUnit',
 'CallTypeGroup',
 'NumAlarms',
 'UnitType',
 'UnitSequenceInCallDispatch',
 'FirePreventionDistrict',
 'SupervisorDistrict',
 'Neighborhood',
 'Location',
 'RowID',
 'Delay']

In [13]:
fire_df.show(5)

+----------+------+--------------+--------------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|CallNumber|UnitID|IncidentNumber|            CallType|           CallDate|WatchDate|CallFinalDisposition|      AvailableDtTm|            Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|Neighborhood|Location|RowID|Delay|
+----------+------+--------------+--------------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|      null|     0|      80283040|       150 Elsie St.|2008-04-01T00:00:00| 80920257| 2008-04-01T18:06:37|2008-04-01T18:15:19|2008-04-01T18:21:48|  SF|  94110|      B06|         11|null|               1|       4|            0|   null|            0|        0|     E11|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283030|       85 Turner Tr.|2008-04-01T00:00:00| 80920256| 2008-04-01T18:00:52|2008-04-01T18:06:30|2008-04-01T18:22:18|  SF|  94107|      B10|         37|null|               1|       4|            0|   null|            0|        0|     E37|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283090|         175 6th St.|2008-04-01T00:00:00| 80920262| 2008-04-01T18:42:06|2008-04-01T18:45:23|2008-04-01T18:53:25|  SF|  94105|      B03|          1|null|              10|      35|            0|   null|            0|        0|     E01|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283140|       633 Hayes St.|2008-04-01T00:00:00| 80920268| 2008-04-01T19:03:52|2008-04-01T19:08:39|2008-04-01T19:35:36|  SF|  94102|      B02|         36|null|               1|       4|            0|   null|            0|        0|     E36|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283190|27th Av. / Cabril...|2008-04-01T00:00:00| 80920273| 2008-04-01T19:16:12|2008-04-01T19:23:48|2008-04-01T19:28:49|  SF|  94121|      B07|         14|null|               1|       4|            0|   null|            0|        0|     E14|                      null|                  null|                 0|           0|       0|    0|  1.0|
+----------+------+--------------+--------------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
only showing top 5 rows

In [ ]:
#fire_df.select("incidentNumber","CallType","WatchDate").show()
#fire_df.select([col for col in fire_df.columns]).show()
fire_df.select("*").show(3)

+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|CallNumber|UnitID|IncidentNumber|     CallType|           CallDate|WatchDate|CallFinalDisposition|      AvailableDtTm|            Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|Neighborhood|Location|RowID|Delay|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|      null|     0|      80283040|150 Elsie St.|2008-04-01T00:00:00| 80920257| 2008-04-01T18:06:37|2008-04-01T18:15:19|2008-04-01T18:21:48|  SF|  94110|      B06|         11|null|               1|       4|            0|   null|            0|        0|     E11|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283030|85 Turner Tr.|2008-04-01T00:00:00| 80920256| 2008-04-01T18:00:52|2008-04-01T18:06:30|2008-04-01T18:22:18|  SF|  94107|      B10|         37|null|               1|       4|            0|   null|            0|        0|     E37|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283090|  175 6th St.|2008-04-01T00:00:00| 80920262| 2008-04-01T18:42:06|2008-04-01T18:45:23|2008-04-01T18:53:25|  SF|  94105|      B03|          1|null|              10|      35|            0|   null|            0|        0|     E01|                      null|                  null|                 0|           0|       0|    0|  1.0|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
only showing top 3 rows

PySpark RDD/DataFrame collect() is an action operation that is used to retrieve all the elements of the dataset (from all nodes) to the driver node. We should use the collect() on smaller dataset usually after filter(), group() e.t.c. Retrieving larger datasets results in OutOfMemory error.

In [ ]:
df_struct.collect()[1][2]

'M'

PySpark withColumn() is a transformation function of DataFrame which is used to change the value, convert the datatype of an existing column, create a new column, and many more.

In [15]:
fire_df.withColumnRenamed("UnitID","unitID").show(2)

+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|CallNumber|unitID|IncidentNumber|     CallType|           CallDate|WatchDate|CallFinalDisposition|      AvailableDtTm|            Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|Neighborhood|Location|RowID|Delay|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|      null|     0|      80283040|150 Elsie St.|2008-04-01T00:00:00| 80920257| 2008-04-01T18:06:37|2008-04-01T18:15:19|2008-04-01T18:21:48|  SF|  94110|      B06|         11|null|               1|       4|            0|   null|            0|        0|     E11|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283030|85 Turner Tr.|2008-04-01T00:00:00| 80920256| 2008-04-01T18:00:52|2008-04-01T18:06:30|2008-04-01T18:22:18|  SF|  94107|      B10|         37|null|               1|       4|            0|   null|            0|        0|     E37|                      null|                  null|                 0|           0|       0|    0|  1.0|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
only showing top 2 rows

In [20]:
new_df = fire_df.withColumn("Unit",lit("USA"))
new_df.drop("Unit").show(2)
new_df.printSchema()

+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|CallNumber|UnitID|IncidentNumber|     CallType|           CallDate|WatchDate|CallFinalDisposition|      AvailableDtTm|            Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|Neighborhood|Location|RowID|Delay|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
|      null|     0|      80283040|150 Elsie St.|2008-04-01T00:00:00| 80920257| 2008-04-01T18:06:37|2008-04-01T18:15:19|2008-04-01T18:21:48|  SF|  94110|      B06|         11|null|               1|       4|            0|   null|            0|        0|     E11|                      null|                  null|                 0|           0|       0|    0|  1.0|
|      null|     0|      80283030|85 Turner Tr.|2008-04-01T00:00:00| 80920256| 2008-04-01T18:00:52|2008-04-01T18:06:30|2008-04-01T18:22:18|  SF|  94107|      B10|         37|null|               1|       4|            0|   null|            0|        0|     E37|                      null|                  null|                 0|           0|       0|    0|  1.0|
+----------+------+--------------+-------------+-------------------+---------+--------------------+-------------------+-------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------+--------+-----+-----+
only showing top 2 rows

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: float (nullable = true)
 |-- Unit: string (nullable = false)